.ideaCardList {
    top: 28%;
    width: 26%;
    height: 60%;
    padding: 2px;
    display: flex;
    position: absolute;
    margin-left: 1.5em;
    overflow-y: scroll;
    transition: all 0.5s;
    flex-direction: column;
}

.ideaCardList a {
    color: #1c1d20;
    text-decoration: none;
}

.ideaCardList:first-child {
    margin-top: 0;
}

.ideaCardList::-webkit-scrollbar {
    display: none;
}

.ideaCardList.darkTheme a {
    color: #ffffff;
}

.ideaCardList.abyssTheme a {
    color: #ffffff;
}

