.forgotPasswordRequest {
    height: 100vh;
    margin: 0;
}

.forgotPasswordRequest h3 {
    width: 30%;
    margin: auto;
    padding-top: 10%;
    font-size: 14px;
    font-weight: 500;
}

.forgotPasswordRequest .signUpText {
    margin: auto;
    width: 30%;
    margin-top: 1em;
    text-align: center;
}

.forgotPasswordRequest .signUpText a {
    color: #0049c6;
    cursor: pointer;
    margin-left: 0.5em;
}

/* Dark Theme */
.forgotPasswordRequest.darkTheme {
    background-color: #292b30;
}

.forgotPasswordRequest.darkTheme h3 {
    color: #ffffff;
}

.forgotPasswordRequest.darkTheme .signUpText {
    color: #696969;
}

/* Abyss Theme */
.forgotPasswordRequest.abyssTheme {
    background-color: #040506;
}

.forgotPasswordRequest.abyssTheme h3 {
    color: #ffffff;
}

.forgotPasswordRequest.abyssTheme .signUpText {
    color: #bcbcbc;
}