.forgotPasswordChange {
    margin: 0;
    height: 100vh;
}

/* Dark Theme */
.forgotPasswordChange.darkTheme {
    background-color: #292b30;
}

/* Abyss Theme */

.forgotPasswordChange.abyssTheme {
    background-color: #040506;
}